/* Your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #125eb0;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
}

label {
    font-weight: bold;
}

select, input[type="number"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #35495e;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #293845;
}

#resultContainer {
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 4px;
}

#macronutrientList {
    list-style: none;
    padding-left: 0;
}

#macronutrientList li {
    margin-bottom: 0.5em;
}
footer {
    background-color: #f0f0f0;
    padding: 1em 0;
    margin: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.footer-links a {
    color: #35495e;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #293845;
}
.header-menu {
    text-align: center;
    padding: 0.5em 0;
}

.header-menu .menu {
    list-style: none;
    padding: 0;
}

.header-menu .menu li {
    display: inline-block;
    margin: 0 15px;
}

.header-menu .menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.header-menu .menu a:hover {
    color: #293845;
}
/* Add this to your styles.css */

/* Adjust the header background color and text color */
header {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text color */
}

/* Adjust the jumbotron text color */
.jumbotron {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text color */
}

/* Adjust the footer background color and text color */
footer {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text color */
}

